/*
 * Brice Jenkins
 * Copyright 2025
 */

#root {
    width: 1200px;
    min-width: 1110px;
    height: fit-content;
    background-color: rgb(230, 230, 230);
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 0px auto;
    padding: 2rem;
    text-align: center;
}

body {
    display: flex;
    min-height: 100%;
    margin: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color-scheme: light dark;
    color: rgb(30, 30, 30);
    background-color: light-dark(rgb(195, 195, 195), rgb(80, 80, 80));
}

header {
    padding: 10px;
    color: rgb(28, 28, 28);
    background-color: light-dark(rgb(195, 195, 195));
}

header h1 {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

header p {
    padding: 5px;
    font-style: italic;
    font-weight: 550;
    color: rgb(217, 217, 217);
}

.App-nav {
    padding: 20px;
    border: 1px solid rgb(45, 45, 45);
    color: rgb(230, 230, 230);
    background-color: light-dark(rgb(52, 52, 52), rgb(70, 70, 70));
}

nav a {
    margin: 10px;
    padding: 10px 15px;
    color: rgb(230, 230, 230);
    font-weight: 600;
    text-decoration: none;
    background-color: light-dark(rgb(52, 52, 52), rgb(70, 70, 70));
}

nav a:visited {
    color: rgb(230, 230, 230);
    background-color: light-dark(rgb(52, 52, 52), rgb(70, 70, 70));
}

nav a:hover {
    border-radius: 10px;
    box-shadow: 0px 0px 1px inset;
    color: rgb(230, 230, 230);
    background-color: light-dark(rgb(70, 70, 70), rgb(45, 45, 45));
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 20px 5px rgb(209, 209, 209);
    margin: auto;
}

thead {
    padding: 10px;
    border: 1px solid rgb(147, 147, 147);
    border-collapse: collapse;
    background-color: light-dark(rgb(200, 200, 200), rgb(61, 61, 61));
}

tr th {
    padding: 5px;
    color: light-dark(rgb(30, 30, 30), rgb(230, 230, 230));
    border: 1px solid rgb(147, 147, 147);
    border-collapse: collapse;
}

tr td {
    padding: 10px;
    color: rgb(30, 30, 30);
    border: solid 1pt rgb(147, 147, 147);
    border-radius: 5px;
    border-collapse: collapse;
    max-width: 250px;
}

tr:hover {
    background-color: rgb(215, 215, 215);
}

thead tr:hover {
    background-color: light-dark(rgb(200, 200, 200), rgb(61, 61, 61));
}

footer {
    margin: 150px 0 0 0;
    color: rgb(230, 230, 230);
    padding: 15px;
    box-shadow: 1px 1px 1px rgb(85, 85, 85);
    background-color: light-dark(rgb(52, 52, 52), rgb(70, 70, 70));
    text-align: center;
}

h2 {
    margin: 20px;
    padding: 20px;
}

p {
    margin: 10px;
    padding: 20px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: light-dark(rgb(30, 30, 30), rgb(230, 230, 230));
    background-color: light-dark(rgb(200, 200, 200), rgb(70, 70, 70));
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: rgb(10, 10, 10);
    color: light-dark(rgb(94, 94, 94), rgb(154, 154, 154));
}

button:focus,
button:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #a2a2a2;
}

/* Header CSS */
.app-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 60px;
    color: rgb(34, 34, 34);
    background-color: rgb(230, 230, 230);
}

.placeholder {
    flex: 0.15;
    width: 35px;
}

.site-title {
    flex: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.site-icons {
    flex: 0.15;
    display: flex;
}

.profile-icon {
    width: 35px;
    font-size: 35px;
    color: rgb(65, 65, 65);
}

.profile-icon a:visited {
    color: rgb(47, 47, 47);
}

.profile-icon a:hover {
    color: rgb(112, 112, 112);
    cursor: pointer;
}

.profile-icon a:active {
    font-size: 90%;
}

.cart-icon {
    margin-right: 20px;
    width: 35px;
    font-size: 35px;
    color: rgb(65, 65, 65);
}

.cart-icon a:visited {
    color: rgb(47, 47, 47);
}

.cart-icon a:hover {
    color: rgb(112, 112, 112);
    cursor: pointer;
}

.cart-icon a:active {
    font-size: 90%;
}

.red-circle {
    display: inline-block;
    position: absolute;
    padding: 5px;
    font-size: 18px;
    transform: translate(-20%, -50%);
    color: white;
    background-color: rgb(214, 0, 0);
    border-radius: 20px;
}

/* Welcome Banner CSS */
.welcome-banner-container {
    position: relative;
    width: 100%
}

.banner-image {
    width: 100%;
    filter: brightness(50%);
}

.tagline-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.instruction-text {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.banner-button {
    position: absolute;
    font-family: Verdana;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Artwork/Shop Item CSS */

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

.artwork-item {
    width: 300px;
    height: 300px;
    background-color: rgb(182, 182, 182);
}

.artwork-image-background {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgb(163, 163, 163);
    width: 100%;
    height: 100%;
    
}

.artwork-image {
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(163, 163, 163);
    max-width: 80%;
    max-height: 80%;
}

.artwork-title {
    position: absolute;
    font-weight: bold;
    padding-top: 10px;
}

.artwork-price {
    position: relative;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 15px;
}

.artwork-medium {
    padding-top: 10px;
    position: absolute;
    text-align: left;
}

.artwork-add-button-false {
    position: relative;
    left: 110px;
    font-size: 12px;
    padding: 5px;
}

.artwork-add-button-true {
    position: relative;
    left: 110px;
    font-size: 12px;
    padding: 5px;
    color: gray;
}

/* Artwork View CSS */

.view-artwork-container {
    display: flex;
    padding-top: 40px;
}

.view-artwork-image-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    background-color: rgb(182, 182, 182);
}

.view-artwork-image {
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(163, 163, 163);
    max-width: 80%;
    max-height: 80%;
}

.view-artwork-information {
    position: relative;
    width: 500px;
    margin: 20px;
    text-align: left;
}

.view-artwork-information h2 {
    padding: 0;
    margin-left: 0;
    margin-bottom: 20px;
}

.view-artwork-information p {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0;
    margin: 0;
}

.view-artwork-add-button-false {
    margin-top: 30px;
    width: 300px;
}

.view-artwork-add-button-true {
    color: gray;
    margin-top: 30px;
    width: 300px;
}

/* Cart CSS */

.cart-header {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    text-align: left;
}

.cart-summary-row {
    display: flex;
}

.cart-summary-column-1 {
    flex: 50%;
    margin-left: 10%;
    padding: 0;
    text-align: left;
}

.cart-summary-column-2 {
    flex: 50%;
    margin-right: 10%;
    text-align: right;
}

.dividing-line {
    background-color: gray;
    margin: auto;
    width: 75%;
    height: 2px;
}

.cart-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cart-item {
    display: flex;
    height: 100px;
    background-color: rgb(215, 215, 215);
    margin: 7px;
}

.cart-item-info {
    padding-left: 30px;
}

.cart-artwork-image-background {
    display: inline-block;
    margin-right: 40px;
    height: 100%;
    width: 100px;
}   

.cart-artwork-image {
    position: relative;
    padding: 10px;
    max-height: 80%;
}

.cart-artwork-information {
    display: inline-block;
    margin-left: 20px;
    height: 100px;
    width: 200px;
    transform: translateY(-27%);
    text-align: left;
}

.cart-artwork-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.cart-artwork-price {
    display: inline-flex;
    transform: translateY(-55%);
}

.checkout-artwork-price {
    transform: translateY(+55%);
}

.cart-placeholder {
    display: inline-flex;
    width: 300px;
}

.cart-delete-icon {
    display: inline-flex;
    transform: translateY(-125%);
    font-size: 25px;
    width: 100px;
}

.cart-delete-icon a:visited {
    color: rgb(47, 47, 47);
}

.cart-delete-icon a:hover {
    color: rgb(112, 112, 112);
    cursor: pointer;
}

.cart-delete-icon a:active {
    font-size: 90%;
}

/* Tooltip CSS */

.tooltip-div {
    position: relative;
    width: 200px;
    display: inline-block;
}

.tooltip-text {
    font-size: 14px;
    position: absolute;
    top: calc(-30px);
    left: calc(-45px);
    transform: translateX(-25%);
    transform: translateY(-45px);
    background-color: rgb(230, 230, 230);
    padding: 5px 10px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(70, 70, 70);
}

/* Popup Window CSS */

.popup-outer-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-inner-div {
    position: relative;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-text {
    padding: 20px;
    position: relative;
}

.popup-button {
    margin: 20px;
}

/* Login Component CSS */

.login-block {
    display: flex;
    justify-content: center;
}

.login-form {
    width: 550px;
}

.login-input-block {
    margin: 20px;
}

.login-label {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}

/* Checkout Page CSS */

.checkout-page-div {
    display: flex;
}

.checkout-page-div button {
    margin: 20px;
    width: 200px;
}

.checkout-forms-div {
    flex: 1;
}

.checkbox-div {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.checkbox-div input[type="checkbox"] {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.checkbox-div label {
    font-size: 18px;
    text-align: left;
    transform: translateY(+15px);
}

.checkout-info-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

.checkout-info-form input {
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}

.checkout-info-form button {
    margin: auto;
}

.your-order-div {
    padding-right: 60px;
    flex: 1;
    max-width: 500px;
}

.your-order-div fieldset {
    max-width: 450px;
}

.card-number-div {
    display: flex;
}

.card-number-div input{
    width: 375px;
}

.card-logo-image {
    height: 20px;
    max-width: 50px;
    padding: 20px;
    margin: auto;
}

/* Nested Table CSS in Order History */

.nested-table table {
    box-shadow: none;
}